<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" verbose="true" stopOnFailure="false">
    <testsuites>
        <testsuite name="OpenNode_Bitcoin">
            <directory>src/app/code/community/OpenNode/Bitcoin</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src/app/code/community/OpenNode/Bitcoin</directory>
        </whitelist>
    </filter>
</phpunit>